/sources/Makefile*
/sources/polyphone.pro.user*
/sources/extensions/**/*
/sources/.qmake.stash
/private
/build*
lib_*
.DS_Store
/fedora
/debian
/sources/release
/sources/debug
/sources/ui_*.h
/sources/mocinclude.opt
/sources/object_script.polyphone.Debug
/sources/object_script.polyphone.Release
